<!DOCTYPE html>
{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block breadcrumbs %}
        <form method="post" class="breadcrumbs">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Search" />
        </form>
        <div>
        {% if results %} Found the following items:
            {% for result in results %}
                <h4 class="breadcrumbs">{{result.0}} (with a score of {{result.1}})</h4>
            {% endfor %}
        {% else %}
            <p class="breadcrumbs">No result found</p>
        {% endif %}
        </div>
    {% endblock %}
</body>
</html>
